<!DOCTYPE html>
<html lang="en-US">

<style>
	body  {background-color: lightblue; width:80%; margin-left: auto; margin-right: auto;}
	h1    {color: white; text-align: center; font-family: sans-serif;}
	p     {color: white;}
	table, th, td {font-family: sans-serif; border-collapse:collapse}
	th, td, tr {padding: 4px; border-bottom: 1px solid black;}
	table {width:100%;}
	table {margin-left: auto; margin-right: auto;}
	tr:hover {background-color: #f5f5f5;}
	th   {color: white; background-color: black; text-align: left;}
	tr[data-href] {cursor: pointer;}
</style>

<body>
	<h1>{{data['name']}}</h1>
	<p>Here is a paragraph to display some background.</p>
	<table>
		<caption><b>Patient Information</b></caption>
		<tbody>
			<tr>
				<th><b>Patient ID</b></th>
				<th>{{data['_id']}}</th>
			</tr>
			<tr>
				<td><b>Full Name</b></td>
				<td>{{data['name']}}</td>
			</tr>
			<tr>
				<td><b>Address</b></td>
				<td>{{data['address']}}</td>
			</tr>
			<tr>
				<td><b>Phone Number</b></td>
				<td>{{data['phone']}}</td>
			</tr>
			<tr>
				<td><b>Birthdate</b></td>
				<td>{{data['birthdate'][0:10]}}</td>
			</tr>
			<tr>
				<td><b>Gender</b></td>
				<td>{{data['gender']}}</td>
			</tr>
			<tr>
				<td><b>Marital Status</b></td>
				<td>{{data['martialStatus']}}</td>
			</tr>
			<tr>
				<td><b>Race</b></td>
				<td>{{data['race']}}</td>
			</tr>
			<tr>
				<td><b>Status</b></td>
				<td>{{data['status']}}</td>
			</tr>
		</tbody>
	</table>

<p id="spot" style="text-align:center; color:black; font-size:200%"></p>
	
<script>
	{% if data['measurements']|length == 0 %}
		document.getElementById("spot").innerHTML = "No Measurements Detected!";
	{% endif %}
	{% if data['measurements']|length == 1 %}
		var y = [
		         {{data['measurements'][0]['chloride']}}
		        ];
	{% endif %}
	{% if data['measurements']|length == 2 %}
		var y = [
		         {{data['measurements'][0]['chloride']}},
		         {{data['measurements'][1]['chloride']}}
		        ];
	{% endif %}
	{% if data['measurements']|length == 3 %}
		var y = [
		         {{data['measurements'][0]['chloride']}},
		         {{data['measurements'][1]['chloride']}},
		         {{data['measurements'][2]['chloride']}}
		        ];
	{% endif %}
	{% if data['measurements']|length == 4 %}
		var y = [
		         {{data['measurements'][0]['chloride']}},
		         {{data['measurements'][1]['chloride']}},
		         {{data['measurements'][2]['chloride']}},
		         {{data['measurements'][3]['chloride']}}
		        ];
	{% endif %}
	{% if data['measurements']|length == 5 %}
		var y = [
		         {{data['measurements'][0]['chloride']}},
		         {{data['measurements'][1]['chloride']}},
		         {{data['measurements'][2]['chloride']}},
		         {{data['measurements'][3]['chloride']}},
		         {{data['measurements'][4]['chloride']}}
		        ];
	{% endif %}
	{% if data['measurements']|length == 6 %}
		var y = [
		         {{data['measurements'][0]['chloride']}},
		         {{data['measurements'][1]['chloride']}},
		         {{data['measurements'][2]['chloride']}},
		         {{data['measurements'][3]['chloride']}},
		         {{data['measurements'][4]['chloride']}},
		         {{data['measurements'][5]['chloride']}}
		        ];
	{% endif %}
	{% if data['measurements']|length == 7 %}
		var y = [
		         {{data['measurements'][0]['chloride']}},
		         {{data['measurements'][1]['chloride']}},
		         {{data['measurements'][2]['chloride']}},
		         {{data['measurements'][3]['chloride']}},
		         {{data['measurements'][4]['chloride']}},
		         {{data['measurements'][5]['chloride']}},
		         {{data['measurements'][6]['chloride']}}
		        ];
	{% endif %}
	{% if data['measurements']|length == 8 %}
		var y = [
		         {{data['measurements'][0]['chloride']}},
		         {{data['measurements'][1]['chloride']}},
		         {{data['measurements'][2]['chloride']}},
		         {{data['measurements'][3]['chloride']}},
		         {{data['measurements'][4]['chloride']}},
		         {{data['measurements'][5]['chloride']}},
		         {{data['measurements'][6]['chloride']}},
		         {{data['measurements'][7]['chloride']}}
		        ];
	{% endif %}
	{% if data['measurements']|length == 9 %}
		var y = [
		         {{data['measurements'][0]['chloride']}},
		         {{data['measurements'][1]['chloride']}},
		         {{data['measurements'][2]['chloride']}},
		         {{data['measurements'][3]['chloride']}},
		         {{data['measurements'][4]['chloride']}},
		         {{data['measurements'][5]['chloride']}},
		         {{data['measurements'][6]['chloride']}},
		         {{data['measurements'][7]['chloride']}},
		         {{data['measurements'][8]['chloride']}}
		        ];
	{% endif %}
	{% if data['measurements']|length == 10 %}
		var y = [
		         {{data['measurements'][0]['chloride']}},
		         {{data['measurements'][1]['chloride']}},
		         {{data['measurements'][2]['chloride']}},
		         {{data['measurements'][3]['chloride']}},
		         {{data['measurements'][4]['chloride']}},
		         {{data['measurements'][5]['chloride']}},
		         {{data['measurements'][6]['chloride']}},
		         {{data['measurements'][7]['chloride']}},
		         {{data['measurements'][8]['chloride']}},
		         {{data['measurements'][9]['chloride']}}
		        ];
	{% endif %}
	window.onload = function () {

	var chart = new CanvasJS.Chart("chartContainer", {
		animationEnabled: true,
		theme: "light2",
		title:{
			text: "Patient Chloride Measurements"
		},
		axisX: {
			title: "Date of Measurement",
			titleFontColor: "Black",
			interval: 1,
			crosshair: {
				enabled: true,
				snapToDataPoint: true,
				color: "DarkSlateGrey",
				valueFormatString: "####",
			}
		},
		axisY: {
			title: "Chloride mEq",
			titleFontColor: "Black",
			interval: 10,
			stripLines: [{
				startValue: 25,
				endValue: 40,
				color: "#b3ffb9",
				label: "Healthy Range",
				labelFontColor: "Black",
				labelBackgroundColor: "#b3ffb9",
				labelAlign: "far"
			}],
			minimum: 10,
			maximum: 60
			
		},
		data: [{     
			yValueFormatString: "# mEq/L",
			xValueFormatString: "Day #",   
			type: "spline",
	      	indexLabelFontSize: 16,
	      	markerColor: "DarkSlateGrey",
	      	lineColor: "SlateGrey",
			dataPoints: [
				{ y: y[0] },
				{ y: y[1] },
				{ y: y[2] },
				{ y: y[3] },
				{ y: y[4] },
				{ y: y[5] },
				{ y: y[6] },
				{ y: y[7] },
				{ y: y[8] },
				{ y: y[9] }
			]
		}]
	});
	chart.render();
	}

</script>


<script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>

<body>
	<br>
	<div id="chartContainer" style="height: 370px; width: 100%;"></div>
</body>

</body>
</html>
